@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background: #04051C;
}
::selection{
  color: #ffffff;
  background: #ED9510;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-image: linear-gradient(180deg, #ED9510 0%, #160821 100%);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

::-webkit-scrollbar-track {
  background-color: #04051C;
}

nav {
  min-width: 100%;
  margin-top: 1rem;
  /* filter:drop-shadow(0 0 15px rgba(0, 0, 0, 0.5)); */

}

ul {
  list-style: none;
}

.mobile {
  margin-top: 0.5rem;
}

.preimgMo {
  max-width: 100%;
}

.imgMo {
  width: 15rem;
  filter:drop-shadow(0.2rem 0.2rem 0.5rem #ED9510);
  animation: borde infinite 7s linear;
}

.MYinfo {
  width: 20rem;
  height: auto;
  margin-bottom: 2rem;
}

.imgicon {
  border-radius: 0.2rem;
}

.boxskills {
  background-color: rgb(241, 241, 241);
  border-radius: 1rem;
  max-width: 24rem;
  width: 86%;
  margin-bottom: 4rem;
  filter:drop-shadow(0.2rem 0.5rem 0.5rem #ED9510);
}
.imgmusic {
  width: 2.5rem;
}

.webcomimg {
  margin: 2rem 2rem 0 2rem;
}

.com {
  margin-top: 10%
}

.imgCom {
  width: 100% ;
  filter:drop-shadow(0.2rem 0.2rem 0.5rem #ED9510);
  animation: borde infinite 7s linear;
}

@keyframes borde {
  0% {
    border-radius: 30% 80% 30% 70% / 70% 30% 80% 30%;
  }
  50% {
    border-radius: 70% 30% 80% 30% / 30% 80% 30% 70%;
  }
  100% {
    border-radius: 30% 80% 30% 70% / 70% 30% 80% 30%;
  }
}

.preimgCom {
  width: 27rem;
  height: auto;
}

.shadowbg {
  filter:drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
}

main {
  min-height: 100vh;
}